/* Put your styles (or personal collection of CSS frameworks) here */

body {
  background-color: #fcf7f0;
  width: 75vw;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Heebo', sans-serif;
  line-height: 1.5;
}

a:link {
  color: #17081f;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #17081f;
  text-decoration: none;
}

a:hover {
  color: #b8b6ae;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

img {
  max-width: 100%;
}


h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  display: block; 
  margin-block-start:0.3vh;
  margin-block-end: 0.3vh;
  font-size: 2em;
  font-weight: bold;
}

p {
  margin-block-start:1vh;
  margin-block-end:1vh;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}

figure {
  margin-left: auto;
  margin-right: auto;
}
w
figcaption {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

figure.kg-width-full {
  width: 75vw;
  position: relative;w
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

figure.kg-width-wide {
  width: 80vw;
  position: relative;
  left: 25%;
  right: 25%;
  margin-left: -25vw;
  margin-right: -25vw;
}

/* IMAGE GALLERY STYLES */
/* ==================== */

/* Style at will... */
.kg-gallery-card { }
.kg-gallery-container { }
.kg-gallery-row { }
.kg-gallery-image { }

/*
Docs can be found here: http://themes.ghost.org/docs/ghost-editor#section-gallery-card

The implementation that Ghost recommends is pretty robust, with one caveat: it needs a few lines of JavaScrpt. Example can be found here:
https://github.com/TryGhost/Casper/pull/475/files#diff-ce5e030f2e2e2a50f18199464f07ea70
*/


/* BOOKMARK CARD STYLES */
/* ==================== */

/* Style at will... */
.kg-bookmark-card { }
.kg-bookmark-container { }
.kg-bookmark-content { }
.kg-bookmark-title { }
.kg-bookmark-description,
.kg-bookmark-metadata { }
.kg-bookmark-thumbnail { }
.kg-bookmark-thumbnail img { }
.kg-bookmark-icon { }
.kg-bookmark-author:after { }
.kg-bookmark-publisher { }


/*
Docs can be found here: https://ghost.org/docs/api/v2/handlebars-themes/editor/#bookmark-card

The example implementation in the Ghost docs isn't bad, although you may want to adjust the image styles a bit.

Want something a bit leaner? You can drop the snippet I used in my premium Weblog theme that right in here! Here it is: https://gist.github.com/curiositry/511c84204f136a97d65cf77a39b230bf
*/


/* TYPOGRAPHY */
/* ========== */


.post-teaser__title{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 7vw;
  line-height: 6.5vw;
  letter-spacing: -0.4vw;
}

.post-teaser__excerpt{
  margin-block-start:1.5vh;
  margin-block-end:1.5vh;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Heebo', sans-serif;
  font-size: calc(16px + 0.9vw);
  letter-spacing: -0.08vw;
  line-height: 1.75;
  font-weight: 300;
  color: #646262;
}

.post-teaser__meta{
  text-transform: uppercase;
  color: #5C5C5C;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0.15rem;
  font-size:calc(10px + 0.15vw) ;
  line-height: 1.625;
  font-weight: 700;
}

.read-more__link{
    font-family: 'Heebo', sans-serif;
  font-size: calc(16px + 0.9vw);
  letter-spacing: -0.08vw;
  line-height: 1.75;
  font-weight: 300;
  color: #646262;
}

.post-teaser__container{
  display: block;
  margin-block-start: 15vh;
}

.post-teaser__text-container{ 
}



/* SUBSCRIPTION & MEMBERSHIP STYLES */
/* ================================= */

.notification-area {
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #99ea02;
  padding: 1rem;
  box-sizing: border-box;
}

.billing-cancel .notification-area {
  background-color: #ccc;
}

.message-success,
.message-error {
  display: none;
}

.message-error,
[data-members-error] {
  color: red;
}

.message-success {
  color: green;
}

.loading button span,
.error button span,
.success button span {
  display: none;
}

.loading button::after {
  content: "Loading...";
}

.error button::after {
  content: "Error :(";
}

.success button::after {
  content: "Success :)";
}

.success ~ .message-success,
.invalid ~ .message-error,
.error ~ .message-error {
  display: block;
}
