/* Put your styles (or personal collection of CSS frameworks) here */

body {
  overflow-x: hidden;
  background-color: #fcf7f0;
  width: 75vw;
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Heebo', sans-serif;
  line-height: 1.5;
}

/* links */

a:link {
  color: #000000;
  text-decoration: underline #ccc;
}

a:visited {
  text-decoration: underline #17081f;
}

a:hover {
  color: #1e1e1e;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a.article__link{
text-decoration: none;
}

a.article__link:hover{
 color: rgb(65, 63, 63);
}

img {
 width: 100%;
 height: auto;
}

/* Font Headings */
h1{
  display: block; 
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  margin-block-start: 1em;
  margin-block-end: 0.25em;
  font-size: 7vw;
  font-weight: bold; 
}

h2 {
  display: block; 
  margin-block-start: 2em;
  margin-block-end: 0.25em;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: calc(24px + 2vw);
  line-height: 1.24;
  letter-spacing: -0.25vw;
  font-weight: bold;
}

h3 {
  display: block; 
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight:500;
  margin-block-start: 3em;
  margin-block-end: 0.25em;
  font-size: calc(18px + 1vw);
  letter-spacing: -0.1vw;
}

h4{
  display: block; 
  font-family:'IBM Plex Sans', sans-serif;
  font-weight:900;
  font-variant-caps: all-small-caps;
  margin-block-start: 3em;
  margin-block-end: 0.25em;
  font-size: calc(12px + 1vw);
  letter-spacing: 0.2vw;
}


/* Font Paragraphs */

p {
  margin-block-start: 0.25em;
  margin-block-end: 1.23em;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  font-size: calc(14px + 0.8vw);
  line-height: 1.75;
  color: #3d3f41;

}

blockquote{
  display: block; 
  margin-block-start: 3em;
  margin-block-end: 0.25em;
  margin-inline-start:0;
  margin-inline-end: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: italic;
  font-weight:300;  
  color: #363434;
  font-size: calc(18px + 1.5vw);
  line-height: 1.5;
  letter-spacing: -0.125vw;
}

blockquote::before{
  position: absolute;
  z-index: -1;
  margin-top: 2vh;
  margin-left: calc( -72px + -5vw );
  content: "❝";
  font-family:'IBM Plex Sans', sans-serif ;
  font-size: 180px;
  line-height: 0;
  font-weight: bold;
  font-style: normal;
  color: #e9e3db;
}



/* lists */

ul {
 margin-block-start: 0.25em;
 margin-block-end: 3em;
 padding:calc(16px + 2vw);
 border: 1px solid #ccc;
}

li {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
  margin-bottom: 1em;
  margin-left: calc(16px + 2vw);
  font-size: calc(16px + 0.5vw);
  line-height: 1.75;
  color: #363434;
}

ol {
  margin-block-start: 0.25em;
  margin-block-end: 3em;
  padding: 2vw;
  border: 1px solid #ccc;
 }

/* Figures */
 figure {
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

figure.kg-width-full {
 width: 75vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

figure.kg-width-wide {
  width: 80vw;
  position: relative;
  left: 25%;
  right: 25%;
  margin-left: -25vw;
  margin-right: -25vw;
}

img.bg__image{
  display: none; 
  position: absolute;
  z-index: -1;
  top:1;
  left:1px;
}

/* IMAGE GALLERY STYLES */
/* ==================== */

/* Style at will... */
.kg-gallery-card { }
.kg-gallery-container { }
.kg-gallery-row { }
.kg-gallery-image { }

/*
Docs can be found here: http://themes.ghost.org/docs/ghost-editor#section-gallery-card

The implementation that Ghost recommends is pretty robust, with one caveat: it needs a few lines of JavaScrpt. Example can be found here:
https://github.com/TryGhost/Casper/pull/475/files#diff-ce5e030f2e2e2a50f18199464f07ea70
*/


/* BOOKMARK CARD STYLES */
/* ==================== */

/* Style at will... */
.kg-bookmark-card { }
.kg-bookmark-container { }
.kg-bookmark-content { }
.kg-bookmark-title { }
.kg-bookmark-description,
.kg-bookmark-metadata { }
.kg-bookmark-thumbnail { }
.kg-bookmark-thumbnail img { }
.kg-bookmark-icon { }
.kg-bookmark-author:after { }
.kg-bookmark-publisher { }


/*
Docs can be found here: https://ghost.org/docs/api/v2/handlebars-themes/editor/#bookmark-card

The example implementation in the Ghost docs isn't bad, although you may want to adjust the image styles a bit.

Want something a bit leaner? You can drop the snippet I used in my premium Weblog theme that right in here! Here it is: https://gist.github.com/curiositry/511c84204f136a97d65cf77a39b230bf
*/


/* TYPOGRAPHY */
/* ========== */


.post-teaser__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 65vw;
  min-width: 300px;
  min-height: 50vh;
}

.post-teaser__container::after {
  display: block;
  content:',';
  height: 4px;
  background-color:#e9e3db ;
  width: 100vw;   
  margin-left: -20vw;
  margin-right: -20vw;
}

.post-teaser__text-container{
  padding-top: 10vh;
  padding-bottom: 15vh;
}


h2.post-teaser__title{
  font-family: 'IBM Plex Sans', sans-serif;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  font-size: calc(40px + 6vw);
  line-height:calc(40px + 6vw);
  letter-spacing: -0.4vw;
}

.post-teaser__excerpt{
}

.post-teaser__meta{
  text-transform: uppercase;
  color: #5C5C5C;
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: 0.15rem;
  font-size:calc(10px + 0.15vw) ;
  line-height: 1.625;
  font-weight: 700;
}

.read-more__link{
  font-family: 'Heebo', sans-serif;
  font-size: calc(16px + 0.9vw);
  letter-spacing: -0.08vw;
  line-height: 1.75;
  font-weight: 300;
  color: #646262;
}

.post__header{
 margin-top: 0px;
 margin-left: 0px;
 display: flex;
 max-width: 100vw;
 min-height: 30vh;
 padding: 2.5vh;
 background-color: #e9e3db;
}

.post__meta {
 margin-block-start: 1em;
 margin-block-end: 0.25em;
 color: rgb(117, 117, 117);
 font-family: 'IBM Plex Sans', sans-serif;
 letter-spacing: 0.15rem;
 font-size:calc(10px + 0.15vw) ;
 line-height: 1.625;
 font-weight: 700;
 text-transform: uppercase;
}

.post__header--content{
 flex-wrap: wrap;
 width: 65vw;
 max-width: 1024px;
 min-width: 300px;
 margin: auto;
 align-items: center;
}

.post__title{
 margin: 0em;
 display: block;
 font-family: 'IBM Plex Sans', sans-serif;
 font-size: calc(40px + 6vw);
 line-height: calc(40px + 6vw);
 letter-spacing: -0.5vw;
 color:#17081f;  
}

.post__content{
 flex-wrap: wrap;
 width: 65vw;
 max-width: 1024px;
 min-width: 300;
 margin: 4vw auto 4vw;
}






/* SUBSCRIPTION & MEMBERSHIP STYLES */
/* ================================= */

.notification-area {
  display: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #99ea02;
  padding: 1rem;
  box-sizing: border-box;
}

.billing-cancel .notification-area {
  background-color: #ccc;
}

.message-success,
.message-error {
  display: none;
}

.message-error,
[data-members-error] {
  color: red;
}

.message-success {
  color: green;
}

.loading button span,
.error button span,
.success button span {
  display: none;
}

.loading button::after {
  content: "Loading...";
}

.error button::after {
  content: "Error :(";
}

.success button::after {
  content: "Success :)";
}

.success ~ .message-success,
.invalid ~ .message-error,
.error ~ .message-error {
  display: block;
}
